.App {
  display: flex;
  background-color: #34568B;
  flex-direction: column;
  align-items: center;
}

.calculator {
  width: 360px;
  height: 300px;
  display: flex;
  border: 1px solid black;
  background-color: rgb(201, 196, 196);
  flex-direction: column;
  margin: 40px;
}

.display {
  width: 350px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  height: 50px;
  background-color: rgb(118, 116, 126);
}

.input {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;

}

.button {
  padding: 10px;
  height: 30px;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: rgb(226, 223, 223);
  text-align: center;
}

.special-button {
  background-color: #e89020;
  padding: 10px;
  height: 30px;
  text-align: center;
}

.double-button {
  grid-column: span 2;
}