.App {
  display: flex;
  background-color: #34568b;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Mali", cursive, sans-serif;
  list-style: none;
}

.calculator {
  width: 360px;
  height: 300px;
  display: flex;
  border: 1px solid black;
  background-color: rgb(201, 196, 196);
  flex-direction: column;
}

.display {
  width: 350px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  height: 50px;
  background-color: rgb(118, 116, 126);
}

.input {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
}

.refresh {
  background-color: #f01050;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 4px 4px rgba(49, 43, 43, 0.8);
  margin-bottom: 20px;
}

@keyframes glowing {
  0% {
    background-color: #f01050;
    box-shadow: 0 0 3px #f01050;
  }
  50% {
    background-color: #ff2462;
    box-shadow: 2px 3px 10px #ff2462;
  }
  100% {
    background-color: #f01050;
    box-shadow: 2px 3px 3px #f01050;
  }
}

.refresh {
  animation: glowing 1300ms infinite;
}

.button {
  padding: 10px;
  height: 30px;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: rgb(226, 223, 223);
  text-align: center;
}

.special-button {
  background-color: #e89020;
  padding: 10px;
  height: 30px;
  text-align: center;
}

.double-button {
  grid-column: span 2;
}

.navBar {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Mali", cursive, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #c70039;
  color: white;
}

.title {
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.hamburger {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 25px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;
  transition: 1s;
}

.horizontal {
  width: 40px;
  background-color: #c70039;
  height: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menuItems {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  gap: 20px;
  padding-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(83, 0, 24) ;
  transition: 0.3s;
  z-index: 1;
}

.menuItems.active {
  left: 0;
  padding-left: 50px;
}

.hamburger.active {
  position: fixed;
  left: 80%;
}

.hamburger.active .horizontal:nth-child(2) {
  opacity: 0;
}

.hamburger.active .horizontal:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .horizontal:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}


.calculatorBackground {
  background-image: url('./images/geometry.jpg');
}

.Home,
.quotes {
  background-image: url('./images/geometry.jpg');
  display: flex;
  margin: 0;
  padding: 0;
}

.HomeInner {
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quotesInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quoteText {
  background-color: #c70039;
  color: white;
  padding: 40px;
  border-radius: 10px;
}

h2 {
  font-family: "Mali", cursive, sans-serif;
  color: #ff044b;
  margin: 40px;
}

.HomeText {
  color: white;
  width: 80%;
}

.calculatorComponent {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

.calcultorItem {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
}

.calculatorTitle {
  font-size: 35px;
  color: #ff044b;
}

.homeLink,
.calculatorLink,
.quoteLink {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .menuItems {
    position: static;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    flex-direction: row;
    gap: 30px;
    background-color: #c70039;
  }

  .title {
   font-size: 30px; 
  }

  .hamburger {
    display: none;

  }
}